@inject NavigationManager NavigationManager
@inject IProductService ProductService

<div class="input-group">
    <input class="form-control"
           type="search"
           placeholder="Search..."
           list="suggestionList"
           @ref="searchInput"
           @bind-value="searchText"
           @bind-value:event="oninput"
           @onkeyup="HandleSearch"/>
    <datalist id="suggestionList">
        @foreach(var suggestion in suggestions)
        {
            <option>@suggestion</option>
        }
    </datalist>

    <div class="input-group-append">
        <button class="btn btn-primary" onclick="SearchProducts">
            <span class="oi oi-magnifying-glass"></span>
        </button>
    </div>
</div>

@code {
    private string searchText = string.Empty;
    private List<string> suggestions = new List<string>();
    protected ElementReference searchInput;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await searchInput.FocusAsync();
        }
    }

    private void SearchProducts()
    {
        NavigationManager.NavigateTo($"search/{searchText}");
    }

    public async Task HandleSearch(KeyboardEventArgs args)
    {
        if (args.Key == null || args.Key.Equals("Enter"))
        {
            SearchProducts();
        }
        else if (searchText.Length >= 3)
        {
            suggestions = await ProductService.GetProductSearchSuggestions(searchText);
        }
    }
}
